@using WebAppMobile.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_PageSingle.cshtml";
}
<style>
    .validation-summary-errors {
        display: inline-block;
    }

        .validation-summary-errors ul {
            list-style: none;
        }

            .validation-summary-errors ul li {
                color: darkorange;
            }
</style>
<div class="login-page ls-closed">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - Material Design</small>
        </div>
        <div class="card">
            <div class="body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "sign_in", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="msg">@Html.ValidationSummary()</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username", autofocus = true })
                            @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
                        </div>
                    </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @*<input type="password" class="form-control" name="password" placeholder="Password" required>*@
                            </div>
                        </div>
                        <div class="row align-center">
                            @*<div class="col-xs-8 p-t-5">
                                <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink">
                                <label for="rememberme">Remember Me</label>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                            </div>*@    
                        </div>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN IN</button>
                        <div class="row m-t-15 m-b--20">
                            <div class="col-xs-6">
                                <a href="/Account/Register">Register Now!</a>
                            </div>
                            <div class="col-xs-6 align-right">
                                <a href="/Account/ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                }
                <!--End form login-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}